*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
.header__title{
    font-size: 24px;
}
.header__nav-list{
    margin-top: 20px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}
.nav-list__link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-list__link--active{
    color: orange;
}
.main{
    padding: 40px;
}
.about__title, .portfolio__title, .contact__title{
    font-size: 24px;
    padding: 30px 0;
}
.about__text{
    margin-bottom: 20px;
}
.portfolio__cards{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    gap: 20px;
    margin-top: 20px;
    transition: all ease-in-out 0.5s;
}
.project:hover{
    background-color: #333;
    color: white;
    transform: scale(1.05);
}
.project__img{
    width: 100%;
    max-width: 400px;
}
.project__title{
    font-size: 20px;
}
.project__button{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.contact__form{
    margin-top: 20px;

}
.contact__label{
    display: block;
    margin-top: 20px;
    font-weight: bold;
}
.contact__input, .contact__textarea{
    resize: none;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 10px 20px;
}
.contact__submit{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}
.footer{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}
@media screen  and (max-width: 900px){
    .portfolio__cards{
        flex-direction: column;
    }
    .project__description{
        font-size: 18px;
    }
}



